body {
  margin: 0;
}

header {
  height: 101px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%), 0 2px 2px rgb(0 0 0 / 6%), 0 0 2px rgb(0 0 0 / 7%);
}

.header-container {
  max-width: 1440px;
  margin: 0 auto;
  height: 100%;
  background-color: yellow;
}

.logo {
  height: 51px;
  width: 51px;
}

.logo img {
  height: 100%;
}
